@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #2d3440;
  background-color: #feafc3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1170px;
  margin: 0 auto;

}

.page-header {
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
}

.header-container {
  min-height: 104px;
  display: flex;
  align-items: center;
}

.header-logo-link {
  margin-right: 16px;
}

.header-logo-image {
  display: block;
  width: 137px;
}

.navigation {
  width: 400px;
  margin-right: auto;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation-item {
  border-radius: 26px;
}

.navigation-link {
  display: block;
  text-decoration: none;
  color: #2d3440;
  padding: 8px 16px;
}

.header-phone-link {
  margin-right: 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.menu-user-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-user-list:nth-child(1) {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #feafc3;
}

.menu-user-link {
  display: block;
  font-size: 14px;
  color: #2d3440;
  text-decoration: none;
}

/* .main-container {
  flex-grow: 1;
} */

.main-index {
  padding-top: 21px;
  padding-bottom: 48px;
  flex-grow: 1;
}

.slider {
  box-sizing: border-box;
}

.slider-box {
  display: flex;
}

.slider-box-text {
  width: 470px;
  display: flex;
  flex-direction: column;
}

.slider-box-image {
  width: 630px;
  display: flex;
  align-items: center;
}

.slider-subtitle {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-text {
  font-size: 18px;
  line-height: 24px;
}

.slider-link-oder {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.slider-pagination-list {
  display: flex;
  width: 52px;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.slider-pagination-link {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fcfcfc;
  opacity: 0.3;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 104px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.present {
  padding-top: 80px;
}

.present-title {
  width: 443px;
  margin: auto;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.present-box-general {
  display: flex;
}

.present-box-1 {
  width: 570px;
  min-height: 268px;
  margin-inline-end: 30px;
  display: flex;
  background-color: #FF7799;
}

.present-box-2 {
  width: 570px;
  min-height: 268px;
  display: flex;
  background-color: #FF7799;
}

.present-box-discription {
  width: 320px;
}

.present-box-image {
  width: 230px;
}

.present-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.present-text {
  font-size: 16px;
  line-height: 22px;
}

.present-button-oder {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
}

.ice-cards {
  padding-top: 80px;
  margin-bottom: 80px;
}

.ice-cards-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ice-cards-item {
  width: 270px;
  background-color: #fcfcfc;
  margin-right: 30px;
  margin-bottom: 40px;
}

.ice-cards-item:nth-child(4n+4) {
  margin-right: 0;
}

.ice-cards-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}
.ice-cards-subtitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.ice-cards-text {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #565c66;
}

.ice-cards-price {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.advantages {
  display: flow-root;
  min-height: 480px;
  margin-bottom: 80px;
  background-color: #ffffff;
  background-image: url("../images/advantages.jpg");
  border-radius: 16px;
}

.advantages-box {
  width: 1122px;
  min-height: 432px;
  border-radius: 16px;
  margin: auto;
  background-color: #ffffff;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 506px;
}

.advantages-subtitle {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-description {
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.news-subscribe-box {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.news-blog {
  display: flow-root;
  width: 570px;
  height: 220px;
  border-radius: 16px;
  background-color: #ffffff;
  background-image: url(../images/blog.jpg);
  background-repeat: no-repeat;
}

.news-blog-title {
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
}

.news-blog-link {
  text-decoration: none;
  color: #2d3440;
}

.news-blog-subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.subscribe {
  width: 570px;
  padding: 6px;
  box-sizing: border-box;
  background-image: url(../images/subscribe.png);
  background-repeat: no-repeat;
}

.subscribe-container {
  display: flow-root;
  width: 558px;
  height: 208px;
  border-radius: 16px;
  background-color: #fcfcfc;
}

.subscribe-text {
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.subscribe-button-submit {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FCFCFC;
}

.delivery-container {
  width: 1170px;
  margin: 0 auto;
}


.delivery {
  display: flex;
  min-height: 534px;
  margin-bottom: 80px;
  background-color: #ffffff;
  background-image: url("../images/delivery.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.delivery-text-box {
  width: 371px;
  margin: 0 135px 0 100px;
}

.delivery-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.delivery-text {
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.delivery-form {
  width: 500px;
  min-height: 406px;
  background-color: #fcfcfc;
}

input [text] {
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
}

.delivery-button-submit {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FCFCFC;
}

.contacts-box {
  width: 1170px;
  margin: 0 auto;
}

.contacts {
  display: flow-root;
  width: 1170px;
  height: 492px;
  box-sizing: border-box;
  padding: 64px;
  background-color: #ffffff;
  background-image: url("../images/contacts.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.contacts-box {
  width: 343px;
  margin: 64px;
  background-color: #ffffff;
}

.contacts-subtitle {
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.contacts-address-text {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.contacts-phone {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.contacts-schedule {
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
}

.contacts-button-feedback {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FCFCFC;
}

.footer-container {
  display: flex;
}

.documents-info {
  margin: 0 auto;
}

.documents-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 356px;
}

.documents-link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.documents-link-current {
  font-weight: bold;
}

.about-site {
  width: 193px;
}

.logo-htmlacademy-image {
  width: 93px;
  height: 27px;
}

.copyright-htmlacademy {
  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-link {
  text-decoration: none;
  color: #2d3440;
  border-bottom: 1px solid rgba(45, 52, 64, 0.5);
}

/* стили для каталога */
.breadcrumbs-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  margin-right: 28px;
}

.breadcrumbs-link {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
  border-bottom: 1px solid #2D3440;
}

.breadcrumbs-link-current {
  border: none;
}

.catalog-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
}

.filter-container {
  width: 807px;
}

.sorting-form {
  font-size: 14px;
  line-height: 20px;
}

.filter-button {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440
}

.button-pagination-box {
  display: flex;
  align-items: center;
  padding: 41px 0;
}

.ice-pagination-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ice-pagination-item {
  width: 24px;
  height: 24px;
  text-align: center;
  vertical-align: middle;
}

.ice-button-show-more {
  width: 180px;
  height: 44px;
  margin-left: 495px;
  margin-right: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
}

.ice-pagination-link {
  text-decoration: none;
  color: #2d3440;
  font-size: 16px;
  line-height: 20px;
}
