@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #2d3440;
  background-color: #feafc3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 40px;
}

.button {
  background: #FF2F64;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  border: none;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  padding: 12px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FCFCFC;
  cursor: pointer;
}

.page-header {
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 25px 0;
  box-sizing: border-box;
}

.header-logo-link {
  display: block;
  margin-right: 16px;
}

.header-logo-image {
  display: block;
  width: 137px;
}

.navigation {
  width: 400px;
  margin-right: auto;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation-item {
  position: relative;
  border-radius: 26px;
}

.navigation-link {
  display: block;
  text-decoration: none;
  color: #2d3440;
  padding: 8px 16px;
  border-radius: 26px;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-link:focus {
  outline: 2px solid #2D3440;
  outline-offset: -2px;
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-link:focus:not(:focus-visible) {
  outline: none;
}

.navigation-link:focus-visible {
  outline: 2px solid #2D3440;
  outline-offset: -2px;
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-link:active {
  background-color: #fcfcfc;
  outline: none;
}

.navigation-link-current {
  background: #FF4A78;
  border-radius: 26px;
  color: #FCFCFC;
}

.popover-catalog {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  min-width: 138px;
  padding: 16px 0;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #fcfcfc;
  filter: drop-shadow(0px 8px 16px rgba(45, 52, 64, 0.12));
}

.popover-catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.popover-catalog-item {
  cursor: pointer;
}

.popover-catalog-item:hover {
  background-color: #ffcbd8;
}

.popover-catalog-item:active {
  background-color: #ff7799;
}

.popover-catalog-link {
  margin: 0;
  font-size: 14px;
  padding: 8px 0;
  padding-left: 16px;
  text-decoration: none;
  color: #2d3440;
  display: block;
  /* cursor: pointer; */
}

.popover-catalog-link-new {
  position: relative;
  font-weight: 700;
  padding-bottom: 16px;
  /* border-bottom: 1px solid #b9b9b9; */
  font-size: 14px;
  padding-top: 0;
}

.popover-catalog-link-new::after {
  content: "";
  height: 1px;
  width: 106px;
  top: 35px;
  left: 15px;
  background-color: #b9b9b9;
  position: absolute;
}

.header-phone-link {
  margin-right: 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.menu-user-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 400px;
}

.menu-user-item {
  position: relative;
  margin-right: 16px;
}

.menu-user-item:last-of-type {
  margin-right: 0;
}

.menu-user-link {
  display: block;
  font-size: 14px;
  color: #2d3440;
  text-decoration: none;
  background-color: rgba(252, 252, 252, 0.3);
}

.menu-user-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.menu-user-link:focus {
  outline: 2px solid #2D3440;
  outline-offset: -2px;
  background-color: rgba(252, 252, 252, 0.5);
}

.menu-user-link:focus:not(:focus-visible) {
  outline: none;
}

.menu-user-link:focus-visible {
  outline: 2px solid #2D3440;
  outline-offset: -2px;
  background-color: rgba(252, 252, 252, 0.5);
}

.menu-user-link:active {
  background-color: #fcfcfc;
}

.menu-user-search {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url("../images/svg/search.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.popover-search {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  width: 356px;
  min-height: 96px;
  padding: 24px 16px;
  background: #FCFCFC;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 1;
}

.popover-search-input {
  position: relative;
  width: 100%;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #B9B9B9;
}

.popover-search-input[placeholder] {
  font-family: inherit;
}

.popover-search-button-clean {
  position: absolute;
  right: 30px;
  top: 40px;
  width: 16px;
  height: 16px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.popover-search-button-clean {
  background-image: url("../images/svg/cross.svg");
  opacity: 0.5;
}

.popover-search-button-clean:hover {
  opacity: 1;
}

.menu-user-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 32px;
  padding: 6px 16px;
  box-sizing: border-box;
  border-radius: 20px;
}

.menu-user-login::before {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("../images/svg/log-in.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 6px;
}

.popover-login {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  width: 420px;
  padding: 48px;
  background-color: #fcfcfc;
  filter: drop-shadow(0px 15px 40px rgba(45, 52, 64, 0.12));
  z-index: 1;
  box-sizing: border-box;
  border-radius: 4px;
}

.popover-login-title {
  margin: 0;
  margin-bottom: 32px;
  width: 200px;
}

.popover-login-form {
  display: grid;
  grid-template-columns: 144px auto;
  row-gap: 16px;
}

.popover-login-email {
  grid-column: 1/-1;
  height: 48px;
}

.popover-login-password {
  grid-column: 1/-1;
  height: 48px;
  margin-bottom: 16px;
}

.popover-button-login {
  grid-column: 1/2;
  min-width: 113px;
}

.link-login-wrapper {
  grid-column: 2/-1;
  margin-left: 23px;
}

.link-login {
  display: block;
  width: 113px;
  text-decoration: none;
  font-family: Inter;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #2d3440;
  border-bottom: 1px solid #2D3440;
}

.menu-user-basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 97px;
  height: 32px;
  border-radius: 20px;
  padding: 6px 16px;
  box-sizing: border-box;
}

.menu-user-basket-full {
  margin-right: 6px;
}

/* поповер для  пустой корзины */
.popover-cart {
  display: none;
  position: absolute;
  width: 288;
  padding: 48px;
  background-color: #fcfcfc;
  right: 0;
  top: 40px;
  border-radius: 4px;
}

.popover-content-cart {
  right: 0;
  top: 40px;
}

.popover-content-cart-title {
  width: 192px;
  text-align: center;
}

/* поповер для корзины с товарами */
.popover-cart-fill {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  width: 441px;
  background-color: #fcfcfc;
  padding: 48px;
  box-sizing: border-box;
  z-index: 2;
  border-radius: 4px;
}

.cart-fill-title {
  margin: 0;
  margin-bottom: 32px;
}

.cart-fill-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 24px;
  margin-bottom: 24px;
  padding-bottom: 32px;
  border-bottom: 1px solid #E7E7E7;
}

.cart-fill-item {
  display: flex;
  align-items: center;
}

.cart-image-wrapper {
  width: 46px;
  height: 46px;
  margin-right: 16px;
  object-fit: cover;
  object-position: center;
}

.cart-fill-image {
  display: block;
  width: 46px;
  height: 46px;
}

.cart-text-wrapper {
  width: 164px;
}

.cart-fill-subtitle {
  margin: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 22px;
}

.cart-fill-text {
  font-size: 14px;
  color: #B9B9B9;
  margin: 0;
}

.cart-fill-price {
  font-family: Inter;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #2D3440;
  font-style: normal;
  width: 100px;
  margin: 0;
  margin-right: auto;
}

.cart-button-close {
  width: 16px;
  height: 16px;
  grid-column: 4/5;
  background-image: url("../images/svg/cross.svg");
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.oder-wrapper {
  display: flex;
}

.button-oder-cart {
  width: 198px;
  margin-right: auto;
}

.oder-sum {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  align-self: center;
}

.main-index {
  padding-top: 21px;
  padding-bottom: 48px;
  flex-grow: 1;
}

.slider {
  box-sizing: border-box;
}

.slider-box {
  display: flex;
  padding-left: 70px;
}

.slider-box-text {
  width: 470px;
  display: flex;
  align-self: center;
  flex-direction: column;
}

.slider-box-image {
  width: 630px;
  display: flex;
  align-items: center;
  position: relative;
}

.slider-box-big {
  width: 348px;
  height: 507px;
  margin-right: 56px;
  position: relative;
}

.slider-box-big::before {
  content: "";
  position: absolute;
  top: 100px;
  left: 13px;
  z-index: -1;
  width: 312px;
  height: 312px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  /* background-color: #ffcbd8; */
}

.slider-image-big {
  display: block;
  margin: 0 auto;
}

.slider-box-smoll-1 {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 150px;
  margin-right: 41px;
  position: relative;
}

.slider-box-smoll-1::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 25px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffcbd8;
}

.slider-image-smoll {
  width: 66px;
  height: 150px;
}

.slider-box-smoll-2 {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 150px;
  position: relative;
}

.slider-box-smoll-2::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 25px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffcbd8;
}

.slider-button {
  border-radius: 26px;
  height: 38px;
  width: 38px;
  border: 2px solid #FCFCFC;
  box-sizing: border-box;
  padding: 0;
  background: rgba(252, 252, 252, 0.3);
  cursor: pointer;
}

.slider-button:hover {
  background-color: #fcfcfc;
  background-image: url("../images/svg/arrow-left.svg");
}

.slider-button:focus {
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../images/svg/arrow-left.svg");
  box-sizing: border-box;
  border: 2px solid #2D3440;
  outline: none;
}

.slider-button:active {
  background: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  border: 2px solid #FCFCFC;
  box-sizing: border-box;
}


.slider-prev {
  background-image: url("../images/svg/arrow-left-white.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 1;
  left: -8px;
}

.slider-next {
  background-image: url("../images/svg/arrow-left-white.png");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  position: absolute;
  left: 308px;
}

.slider-subtitle {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin: 0;
  margin-bottom: 24px;
}

.slider-text {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 48px;
}

.slider-link-oder {
  display: flex;
  align-self: flex-start;
  text-decoration: none;
  color: #2d3440;
  background-color: #fcfcfc;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.slider-link-oder:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #fcfcfc;
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
}

.slider-link-oder:focus-visible {
  background-color: #FCFCFC;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  outline: 2px solid #2D3440;
}

.slider-link-oder:disabled {
  background-color: #e7e7e7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  color: #b9b9b9;
}

.slider-pagination {
  display: flex;
  margin-bottom: 80px;
}

.slider-pagination-list {
  display: flex;
  width: 52px;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.slider-pagination-link {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
}

.slider-pagination-link:hover {
  background: rgba(252, 252, 252, 0.3);
  box-sizing: border-box;
  border: 1px solid #FCFCFC;
}

.slider-pagination-link:focus {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid #2D3440;
  box-sizing: border-box;
  outline: none;
}

.slider-pagination-link-current {
  background-color: #fcfcfc;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 104px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.social-vk {
  background-image: url("../images/svg/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-vk:hover {
  background-color: #2d3440;

}

.social-vk:focus {
  outline: 2px solid #2d3440;
  outline-offset: 0px;
  background-color: #2d3440;
}

.social-fb {
  background-image: url("../images/svg/fb.svg");
}

.social-fb:hover {
  background-color: #2d3440;
}

.social-fb:focus {
  outline: 2px solid #2d3440;
  outline-offset: 0px;
  background-color: #2d3440;
}

.social-instagram {
  background-image: url("../images/svg/inst.svg");
}

.social-instagram:hover {
  background-color: #2d3440;
}

.social-instagram:focus {
  outline: 2px solid #2d3440;
  outline-offset: 0px;
  background-color: #2d3440;
}

.present {
  margin-bottom: 80px;
}

.present-title {
  width: 443px;
  margin: 0 auto;
  margin-bottom: 56px;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.present-box-general {
  display: flex;
  justify-content: space-between;
}

.present-box-1 {
  display: flex;
  box-sizing: border-box;
  width: 570px;
  min-height: 268px;
  padding-left: 40px;
  border-radius: 16px;
  background-color: #FF7799;
}

.present-box-2 {
  width: 570px;
  min-height: 268px;
  display: flex;
  padding-left: 40px;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: #FF7799;
}

.present-box-discription {
  width: 320px;
  padding: 40px 0;
}

.present-box-image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 230px;
}

.present-subtitle {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.present-text {
  margin: 0;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 22px;
}

.present-button-oder {
  color: #2d3440;
  background-color: #fcfcfc;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  margin: auto;
}

.present-button-oder:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
}

.present-button-oder:focus-visible {
  background: #FCFCFC;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  outline: 2px solid #2D3440;
}

.present-button-oder:disabled {
  background-color: #e7e7e7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  color: #b9b9b9;
  cursor: default;
}

.ice-cards {
  margin-bottom: 80px;
}

.ice-cards-catalog {
  margin-bottom: 0;
}

.ice-cards-title {
  margin: 0 auto;
  margin-bottom: 56px;
  width: 527px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.ice-cards-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 30px;
  row-gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ice-cards-item {
  display: grid;
  grid-template-columns: 270px;
  grid-template-rows: 51px 133px auto;
  width: 270px;
}

.fon {
  display: grid;
  grid-column: 1;
  grid-row: 2/-1;
  grid-template-columns: 40px 158px 32px 40px;
  grid-template-rows: 133px 32px 64px 32px 24px;

  width: 270px;
  min-height: 281px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.ice-cards-image {
  grid-column: 1;
  grid-row: 1/3;
  z-index: 1;
}

.ice-cards-subtitle {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  grid-column: 2/-2;
  grid-row: 2/3;
}

.ice-cards-text {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #565c66;
  grid-column: 2/-2;
  grid-row: 3/4;
}

.ice-cards-price {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  grid-column: 2/3;
  grid-row: 4/5;
  align-self: center;
}

.ice-cards-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ff2f64;
  grid-column: 3/4;
  grid-row: 4/5;
}

.ice-cards-link:hover {
  background: rgba(252, 252, 252, 0.3);
  box-sizing: border-box;
  border: 2px solid #FF2F64;
}

.ice-cards-link:hover svg path{
  fill: #2D3440;
}

.ice-cards-link:focus {
  background: #FF2F64;
  box-sizing: border-box;
  border: 2px solid #2D3440;
}

.ice-cards-link:active {
  outline: none;
}

.ice-cards-link-disabled {
  pointer-events: none;
  outline: none;
  cursor: default;
  background-color: #B9B9B9;
}

.advantages {
  display: flex;
  min-height: 480px;
  margin-bottom: 80px;
  background-color: #ffffff;
  background-image: url("../images/advantages.jpg");
  border-radius: 16px;
}

.advantages-box {
  width: 1122px;
  min-height: 432px;
  border-radius: 16px;
  margin: auto;
  box-sizing: border-box;
  padding: 56px 40px;
  background-color: #ffffff;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 505px 505px;
  gap: 40px 32px;
}

.advantages-item {
  display: grid;
  grid-template-columns: 48px auto;
  column-gap: 16px;
}

.advantages-decor-ice::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../images/svg/ice-cream.svg");
  background-size: 32px 32px;
  background-position: center;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border: 2px solid #3d4042;
  border-radius: 100%;
}
.advantages-decor-cow::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../images/svg/cow.svg");
  background-size: 32px 32px;
  background-position: center;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border: 2px solid #3d4042;
  border-radius: 100%;
}

.advantages-decor-leaf::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../images/svg/leaf.svg");
  background-size: 32px 32px;
  background-position: center;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border: 2px solid #3d4042;
  border-radius: 100%;
}

.advantages-decor-thermometr::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../images/svg/thermometer.svg");
  background-size: 32px 32px;
  background-position: center;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border: 2px solid #3d4042;
  border-radius: 100%;
}

.advantages-subtitle {
  margin: 0;
  margin-bottom: 56px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}



.advantages-description {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}


.news-subscribe-box {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.news-blog {
  height: 220px;
  width: 570px;
  box-sizing: border-box;
  padding-top: 32px;
  padding-left: 32px;
  border-radius: 16px;
  background-color: #ffffff;
  background-image: url("../images/blog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.news-blog-title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
}

.news-blog-link {
  text-decoration: none;
  color: #2d3440;
}

.news-blog-subtitle {
  width: 303px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.subscribe {
  width: 570px;
  padding: 6px;
  box-sizing: border-box;
  background-image: url("../images/subscribe.png");
  background-repeat: no-repeat;
}

.subscribe-box {
  width: 558px;
  height: 208px;
  box-sizing: border-box;
  padding: 26px;
  border-radius: 16px;
  background-color: #fcfcfc;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 332px 152px;
  column-gap: 20px;
}

.subscribe-text {
  margin: 0;
  margin-bottom: 42px;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;

  grid-column: 1/-1;
}

.subscribe-form-email {
  margin: 0;
  grid-column: 1/2;
}

.subscribe-button-submit {
  grid-column: 2/3;
}

.delivery {
  display: flex;
  justify-content: space-between;
  min-height: 534px;
  margin-bottom: 80px;
  background-color: #ffffff;
  background-image: url("../images/delivery.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 64px 64px 64px 100px;
}

.delivery-text-box {
  width: 371px;
  margin-top: 103px;
}

.delivery-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.delivery-form {
  box-sizing: border-box;
  padding: 40px;
  width: 500px;
  height: 406px;
  background-color: #fcfcfc;
  border-radius: 8px;

  display: grid;
  grid-template-columns: 117px 287px;
  grid-template-rows: repeat(4, min-content);
  column-gap: 16px;
}

.delivery-form label {
  font-weight: bold;
  line-height: 20px;
  font-size: 16px;
}

.delivery-info {
  width: 14px;
  height: 14px;
  border: none;
  background-color: transparent;
}

.delivery-info-address {
  left: 56px;
  top: 3px;
  background-image: url("../images/svg/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.delivery-text {
  margin: 0;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;

  grid-column: 1/-1;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.field-group label {
  display: block;
  margin-right: 4px;
}

.delivery-form-date {
  grid-column: 1/2;
  margin-bottom: 20px;
}

.info-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.delivery-info-date {
  background-image: url("../images/svg/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.delivery-form-tel {
  grid-column: 2/3;
}

.delivery-form-address {
  grid-column: 1/-1;
  margin-bottom: 32px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  font-size: 16px;
  line-height: 20px;
  padding: 14px 16px;
  box-sizing: border-box;
  cursor: pointer;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
}

input[type="text"]:hover,
input[type="tel"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #2D3440;

}

input[type="text"]:focus-visible,
input[type="tel"]:focus-visible,
input[type="email"]:focus-visible,
input[type="password"]:focus-visible {
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #2D3440;
}

input[type="text"]:disabled ,
input[type="tel"]:disabled ,
input[type="email"]:disabled ,
input[type="password"]:disabled {
  background: #E7E7E7;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #B9B9B9;
  cursor: default;
}

.delivery-button-submit {
  width: 152px;
  margin: 0 auto;
  grid-column: 1/-1;
}

.contacts {
  width: 1170px;
  height: 492px;
  box-sizing: border-box;
  padding: 64px;
  box-sizing: border-box;
  padding: 64px;
  background-color: #ffffff;
  background-image: url("../images/contacts.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.contacts-box {
  width: 343px;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 8px;
  background-color: #ffffff;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.contacts-address-text {
  margin: 0;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.contacts-phone {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.contacts-schedule {
  margin: 0;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
}

.contacts-button-feedback {
  width: 250px;
}

.footer-container {
  display: flex;
  box-sizing: border-box;
  padding-bottom: 48px;
}

.footer-container-catalog {
  border-top: 1px solid rgba(252, 252, 252, 0.3);
  padding-top: 48px;
}

.documents-info {
  margin: 0 auto;
}

.documents-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 356px;

  display: grid;
  grid-template-columns: 150px 182px;
  column-gap: 24px;
  row-gap: 8px;
}

.documents-link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.documents-link-current {
  position: relative;
  font-weight: bold;
}

.documents-link-current::before {
  content: "";
  position: absolute;
  top: 0;
  left: -24px;
  width: 16px;
  height: 16px;
  background-image: url("../images/svg/heart-fill.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}
.about-site {
  width: 193px;
}

.logo-htmlacademy-image {
  width: 93px;
  height: 27px;
}

.copyright-htmlacademy {
  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-link {
  text-decoration: none;
  color: #2d3440;
  border-bottom: 1px solid rgba(45, 52, 64, 0.5);
}

/* стили для каталога */
.main-catalog {
  padding: 32px 0 40px;
}

.breadcrumbs {
  margin-bottom: 40px;
}

.breadcrumbs-list {
  display: flex;
  list-style: none;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 66px;
  top: 25%;
  background-image: url("../images/svg/chevrons-right.svg");
}

.breadcrumbs-item:last-child::after {
  content: none;
}


.breadcrumbs-link {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
  border-bottom: 1px solid #2D3440;
}

.breadcrumbs-link-current {
  border: none;
}

.catalog-title {
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
}

.filter-cards {
  width: 811px;
  margin-bottom: 48px;
}

.sorting-form {
  font-size: 14px;
  line-height: 20px;

  display: flex;
  flex-wrap: wrap;
}

.field {
  padding: 0;
  margin: 0;
  border: none;
}

.field-sorting {
  width: 196px;
  margin-right: 24px;
  margin-bottom: 16px;
}

.sorting-text {
  padding: 0;
  padding-left: 16px;
  margin-bottom: 8px;
}

.sorting-select {
  width: 196px;
  height: 36px;
  padding: 0;
  background-color: #ffcbd8;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  padding-left: 16px;
  background-image: url("../images/svg/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 13px center;
  appearance: none;
  cursor: pointer;
}

.sorting-select:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 20px;
}

.sorting-select:focus-visible {
  outline: none;
  outline: 1px solid #fcfcfc;
  outline-offset: -1px;
}

.field-range {
  width: 196px;
  margin-right: 24px;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale-wrapper {
  border-radius: 20px;
  display: flex;
  margin: 0;
  padding: 0 8px;
  list-style: none;
  height: 36px;
  background-color: #ffcbd8;
  justify-content: center;
  align-items: center;
}

.range-scale {
  position: relative;
  width: 164px;
  height: 4px;
  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 6px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #565C66;
  margin: 0 auto;
}

.range-toggle {
  padding: 0;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fcfcfc;
  border: 6px solid #2d3440;
  box-sizing: border-box;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #2d3440;
  border: 6px solid #fcfcfc;
}

.range-toggle:focus-visible {
  background-color: #2d3440;
  border: 6px solid #fcfcfc;
  outline: 2px solid #2d3440;

}

.range-toggle:active {
  background-color: #2d3440;
  border: none;
  outline-offset: -1px;
}

.range-toggle-min {
  left: 0;
  top: -6px;
}

.range-toggle-max {
  right: 0;
  top: -6px;
}

.range-text {
  padding: 0;
  padding-left: 16px;
  margin-bottom: 8px;
}

.range {
  width: 196px;
  height: 36px;
  background-color: #ffcbd8;
  border-radius: 20px;
}

.field-fat {
  width: 367px;
}

.fat-text {
  padding-left: 16px;
  margin-bottom: 8px;
}

.fat-list {
  border-radius: 20px;
  display: flex;
  margin: 0;
  padding: 0 16px;
  list-style: none;
  height: 36px;
  background-color: #ffcbd8;
  justify-content: space-between;
  align-items: center;
}

.control-input[type="radio"] + .control-mark {
  border-color: #2d3440;
  border-radius: 50%;
  box-sizing: border-box;
  border-width: 1.5px;
}

.control-input[type="radio"]:hover + .control-mark {
  border-color: #fcfcfc;
}

.control-input[type="radio"]:focus-visible + .control-mark {
  border-color: #fcfcfc;
}

.control-input[type="radio"]:disabled + .control-mark {
  border-color: #2d3440;
  opacity: 0.7;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 27%;
  left: 27%;
  width: 6px;
  height: 6px;
  background-color: #2d3440;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:checked:hover + .control-mark::before {
  background-color: #fcfcfc;
}

.control-input[type="radio"]:checked:disabled + .control-mark::before {
  border-color: #2d3440;
  opacity: 0.7;
}

.control-input[type="radio"]:checked:disabled:hover + .control-mark::before {
  background-color: #2d3440;
}

.field-additive {
  width: 596px;
  margin-right: 24px;
}

.additive-text {
  padding-left: 16px;
  margin-bottom: 8px;
}

.additive-list {
  display: flex;
  margin: 0;
  padding: 0 16px;
  list-style: none;
  height: 36px;
  border-radius: 20px;
  background-color: #ffcbd8;
  justify-content: space-between;
  align-items: center;
}

.control {
  position: relative;
  display: block;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 1px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1.5px solid #242424;
  border-radius: 4px;
  box-sizing: border-box;
}

.control:hover .control-mark {
  border-color: #fcfcfc;
}

.control-input:disabled + .control-mark {
  border-color: rgba(252, 252, 252, 0.4);
}

.control-input:focus-visible + .control-mark {
  border-color: rgba(252, 252, 252, 0.4);
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/svg/checkbox-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.control-input[type="checkbox"]:checked:hover + .control-mark {
  background-image: url("../images/svg/chackbox-ckecked-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.control-input[type="checkbox"]:checked:focus-visible + .control-mark {
  background-image: url("../images/svg/chackbox-ckecked-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.control-input[type="checkbox"]:checked:disabled + .control-mark {
  background-image: url("../images/svg/checkbox-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  opacity: 0.4;
}

.control-input[type="checkbox"]:checked:disabled:hover + .control-mark {
 cursor: default;
}

.control-input:checked:disabled:hover + .control-label {
 cursor: default;
}

.control-label {
  padding-left: 24px;
}

.filter-button {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  padding: 0;
  align-self: end;
  width: 187px;
  height: 36px;
  outline: 2px solid #fcfcfc;
  border-radius: 20px;
  border: none;
  background-color: #ffcbd8;
  cursor: pointer;
}

.filter-button:hover {
  background: #FCFCFC;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.filter-button:focus-visible {
  background: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2D3440;
}

.filter-button:disabled {
  background: #e7e7e7;
  border: 4px solid rgba(252, 252, 252, 0.4);  
}


.button-pagination-box {
  display: flex;
  align-items: center;
  padding: 41px 0;
}

.ice-pagination-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ice-pagination-item {

}

.ice-pagination-link {
  text-decoration: none;
  color: #2d3440;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.ice-pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.3);
  box-sizing: border-box;
  border: 1px solid #FCFCFC;
  border-radius: 50%;
}

.ice-pagination-link:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid #2D3440;
  box-sizing: border-box;
  border-radius: 50%;
  outline: none;
}

.ice-button-show-more {
  width: 180px;
  height: 44px;
  margin-left: 495px;
  margin-right: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  background-color: #fcfcfc;
  border-radius: 26px;
  border: none;
  outline: 4px solid #ffcbd8;
  cursor: pointer;
}

.ice-button-show-more:hover {
  background: rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
  outline: 4px solid #FCFCFC;
}

.ice-button-show-more:focus-visible {
  background: #FCFCFC;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.ice-button-show-more:disabled {
  background: #e7e7e7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.ice-pagination-current {
  background-color: #fcfcfc;
  border-radius: 50%;
}

.ice-pagination-prev {
  margin-right: 16px;
}

.ice-pagination-prev-disabled {
  opacity: 0.5;
}

.ice-pagination-next {
  margin-left: 16px;
}

.ice-pagination-disabled {

}

.pagination-next-image {
  transform: rotate(180deg);
}

.popover-open {
  display: block;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal {
  position: relative;
  margin: auto;
  width: 570px;
  height: 545px;
  padding: 64px;
  box-sizing: border-box;
  background: #FCFCFC;
  border-radius: 8px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
}

.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
  height: 52px;
  padding: 0;
  background-color: transparent;
  border: none;
  background-image: url("../images/svg/cross.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-content-title {
  margin: 0;
  margin-bottom: 32px;
  font-family: Inter;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  font-style: normal;
}

.modal-content-form {
  display: flex;
  flex-direction: column;
}

.input-auth-text {
  margin-bottom: 16px;
  color: #2d3440;
  background-color: #ffffff;
}

.input-auth-email {
  margin-bottom: 16px;
  color: #2d2d2d;
  background-color: #ffffff;
}

.textarea-auth {
  margin-bottom: 36px;
  height: 149px;
}

.modal-auth-button {
  width: 152px;
  margin-left: auto;
}

.modal-container-open {
  display: block;
}
